{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block javascript %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="js/json-canvas-draw.js"></script>
{% endblock %}

{% block title %}Viewing interval: {{ ival.id }}:{{ ival.start }}-{{ ival.stop }}{% endblock %}

{% block sidebar %}
<a href='../'>Return to top page</a>

{% if bookmarks_l %}
<p>
<b>Bookmarks:</b>
<ul>
  {% for b in bookmarks_l %}
   #{{ loop.index }}. <a href='../{{ b.sequence }}:{{ b.start }}-{{ b.stop }}/'> {{ b.name }}
          </a>
  <br>
  {% endfor %}
</ul>
{% endif %}


{% endblock %}

{% block content %}
<span id="" >
<p>        
<h2 id="interval">Interval: {{ ival.id }} from {{ ival.start }} to {{ ival.stop }}</h2>

<li>{{ ival.stop - ival.start }} bases of {{ parent_len }}</li>

<li>
<!--<a href='../go?sequence={{ ival.id|e }}&start={{ move_left_start }}&stop={{ move_left_stop }}'>&lt;- move left</a> or-->
<a id="left" href="">&lt;- move left</a> or

<!--<a href='../go?sequence={{ ival.id|e }}&start={{ zoom_in_start }}&stop={{ zoom_in_stop }}'>+ zoom in +</a>-->
<a id="zin" href="">+ zoom in +</a> or
or
<!--<a href='../go?sequence={{ ival.id|e }}&start={{ zoom_out_start }}&stop={{ zoom_out_stop }}'>- zoom out -</a>-->
<a id="zout" href="">- zoom out -</a> or
or
<!--<a href='../go?sequence={{ ival.id|e }}&start={{ move_right_start }}&stop={{ move_right_stop }}'>move right -&gt;</a>-->
<a id="right" href="">move right -&gt;</a> or
</li>

<li>
<!--<form method='POST' action='../go'>-->
{{ forms.submit('view', id="view") }}
{{ forms.input('sequence', value=ival.id ) }} from
{{ forms.input('start', value=ival.start, size=9 ) }} to
{{ forms.input('stop', value=ival.stop, size=9 ) }}
<!--</form>-->
</li>

<p>
<blockquote>
<a href='../add_bookmark?sequence={{ qp(ival.id) }}&start={{ ival.start }}&stop={{ ival.stop }}'>bookmark this view</a>
|
<a href='quantify'>count features</a>
</blockquote>
<p>

<!-- <ul>
{% for i, n in l %}
<li> {{ n }} features in nlmsa #{{ i }}<br>
{% endfor %}
</ul>
-->
<hr>
</span>
<div id="json"></div>
<canvas id="canvas" width="1000" height="500" >
    Your browser does not support the canvas element.<br/>
    Please use an updated version of Firefox, Opera, or Safari.
</canvas>
<!--<script type="text/javascript" src="json?asdf=234234"></script>-->
{% endblock %}
